body {
    font-family: 'Lato';
    font-size: 2em;
    text-align: center;
    background-color: #fff;
    color: #efaf23;
}

.center {
    position: relative;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
    padding-bottom: 2em;
}

h1 a {
    color: #efaf23!important;
    text-decoration: underline dotted black;
}

h1 a:hover {
    text-decoration: underline solid #efaf23!important;
    transition: all ease 0.3s;
}

p {
    font-size: 1em;
}

p.subtitle {
    font-size: 0.6em!important;
  }  

p a {
    color: black!important;
    text-decoration: underline dotted black;
}

p a:hover {
    color: #efaf23!important;
    font-weight: 700;
    text-decoration: underline solid #efaf23;
    transition: all ease 0.3s;
}